<div class="auth-page">
  <mat-card class="auth-card" appearance="outlined">
    <mat-card-header class="header">
      <mat-card-title class="title" >Sign in</mat-card-title>
      <mat-card-subtitle>Access your account</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="form-content">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <mat-form-field appearance="outline" class="w-100 form-field">
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="username" placeholder="Enter your username">
         
          <mat-error *ngIf="loginForm.get('username')?.errors?.['required'] && loginForm.get('username')?.touched">Username is required.</mat-error>
          <mat-error *ngIf="loginForm.get('username')?.errors?.['minlength'] && loginForm.get('username')?.touched">Username must be at least 3 characters.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 form-field">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Enter your password">
    
          <mat-error *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched">Password is required.</mat-error>
          <mat-error *ngIf="loginForm.get('password')?.errors?.['minlength'] && loginForm.get('password')?.touched">Password must be at least 6 characters.</mat-error>
        </mat-form-field>

        <div *ngIf="errorMessage" class="error-message">
          <mat-icon>error_outline</mat-icon>
          <span>{{ errorMessage }}</span>
        </div>

        <button mat-raised-button color="primary" type="submit" class="w-100 login-button" [disabled]="loginForm.invalid">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
